{% extends '/dashboard/base.html.twig' %}

{% block title %}Web Page{% endblock %}

{% block body %}
<div class="container">
  <div class="d-grid gap-2 d-md-flex col-4 ms-auto justify-content-md-end ">
  </div>
    <div class="card-body">
      <div class="d-flex align-items-center mb-4">
        <h1>Voir les résultats de mes campagnes de votes clôturés</h1>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom de la campagne</th>
            <th scope="col">Date</th>
            <th scope="col">Résultats</th>
          </tr>
        </thead>
        <tbody>
          {% for campaign in campaigns %}
          <tr>
            <td>{{campaign.name}}</td>
            <td>{{campaign.createdAt|date('d/m/Y')}}</td>
            <td><a href="{{ path('results_show', {'uuid' :campaign.uuid}) }}">Voir les résultats<a/></td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
