{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-3">
            <img src="{{ asset('build/images/logo_bgblk.png') }}" alt="Brand" class="img-responsive"/>
        </div>
        <div class="col-md-3">
            <h1>EVOTE</h1>
        </div>
    </div>
</div>
{% endblock %}