{% extends 'base.html.twig' %}

{% block body %}
<section class="h-100">
    <div class="logo">
            <img src="{{ asset('build/images/logo_bgblk.png') }}" alt="Brand" class="img-fluid rounded mx-auto d-block" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center mb-4">{{ campaign.name }}</h1>
                    <h3 class="text-center mb-5">Campagne du {{ campaign.startedAt|date('d-m-Y') }}</h3>
                    {% for resolution in campaign.resolutions %}
                        {{component('vote', {
                            'resolution': resolution,
                            'voter': voter
                        })}}
                    {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}