{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="card shadow">
						<div class="card-body">
							<div class="d-flex align-items-center mb-4">
								<h1 class="card-title">Bienvenue sur Evote</h1>
								<a href="#" class="btn btn-primary ms-auto">Connexion</a>
							</div>
							
							
							<p class="card-text">
										Créez un vote en cliquant sur le bouton « Créer un vote », renseignez le nom de votre Réunion, sa description et gérer ensuite votre campagne depuis votre interface administrateur.
										<br><br>
										-- Ajoutez des résolutions à voter en cliquant sur le bouton « Ajouter une résolution », vos participants pourront se prononcer pour, contre ou s'abstenir.<br><br>
										-- Ajoutez des votants en cliquant sur le bouton « Gérer votants », définissez la pondération du vote (le nombre de voix de chaque votant, son collège), renseignez l'adresse mail sur laquelle le votant recevra son lien de vote personnel.
										Vous pouvez meme faire des import en masse à partir d'un fichier excel !
										<br><br>
										-- Accédez aux résultats du vote via le bouton « Résultats ». Vous ne verrez pas les résultats nominativement, mais uniquement les résultats globaux (nous seuls avons les accès au détail par votant mais cela ne servira que si besoin de constituer un dossier de preuve, afin de garantir les votes anonymes :)
							</p>
							<div class="text-center">
								<a href="#" class="btn btn-primary">S'inscrire</a>
							</div>
							
						</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
