<form method="post" action="{{ path('app_proxy_for_delete', {'id': proxy_for.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proxy_for.id) }}">
    <button class="btn">Supprimer</button>
</form>
