{% extends 'layout/column-center-shadow.html.twig' %}

{% block title %}Notification d'envoi Email{% endblock %}

{% block main %}
    <p>
        Si le mél utilisé est déjà enregistré, un lien de réinitialisation vient de vous être envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de mél, vérifiez dans les indésirables, ou <a href="{{ path('app_forgot_password_request') }}">Recommencez en cliquant ici</a>.</p>
{% endblock %}
