{% extends 'layout/column-center-shadow.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrer vortre adress email pour recevoir un lien de réinitialisation du mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
