{% extends 'layout/column-center-shadow.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block main %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {# {{ form_row(resetForm.plainPassword, {
            label: 'Mot de passe'
        }) }} #}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Enregistrement du mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
