//Police Merriweather
$font-family-serif: 'Merriweather', serif;

// Police Roboto
$font-family-sans-serif:'Roboto', sans-serif;

// Police Lato
$headings-font-family: 'Lato', sans-serif;

$primary: #0F8747;

$nav-width: 280px;
