{% extends 'base.html.twig' %}

{% block title %}A Web Page{% endblock %}

{% block body %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary btn-lg" href="{{ path('create_vote_index')}}" type="button">Créer un vote</button></a>
  
</div>
    <div>
        <h1>Première connexion</h1>
        <p>Bienvenue sur Evote</p><br />
        <p>Cet outil permet d'organiser un vote électronique facilement.</p><br />
        Créez un vote en cliquant sur le bouton « Créer un vote », renseignez le nom de votre campagne, sa description et ajoutez éventuellement des
        collèges de vote.<br /></p>
        <p>Ajoutez des propositions en cliquant sur le bouton « Ajouter une proposition », vos participants pourront se prononcer pour, contre ou s'abstenir.
        D'autres modes de vote sont actuellement à l'étude.
        Ajoutez des votants en cliquant sur le bouton « Ajouter un votant », définissez la pondération du vote (le nombre de voix de chaque votant),
        renseignez l'adresse mail sur laquelle le votant recevra son lien de vote personnel.
        Accédez aux résultats du vote via le bouton « Résultats ». Vous ne verrez pas les résultats nominativement, mais uniquement les résultats globaux.</p>
    </div>
{% endblock %}
