{% extends '/dashboard/base.html.twig' %}

{% block title %}Page d'admin des campagnes{% endblock %}

{% block body %}

<div>
	<h1>Vote "Test" - Page d'administration</h1>

	<div class="mb-3">
		<h2>Les collèges de votes</h2>
		<a class="btn btn-primary btn-lg" href="#">Ajouter un collège</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Gerer les collèges</a>

	</div>

	<div class="mb-3">
		<h2>Les votants</h2>
		<a class="btn btn-primary btn-lg" href="#">Ajouter un votant</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Ajouter des votants</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Gerer les votants</a>
	</div>

	<div class="mb-3">
		<h2>Les résolutions à voter</h2>
		<a class="btn btn-primary btn-lg" href="#">Ajouter une résolution</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Gerer les sésolutions</a>
	</div>

	<div class="mb-3">
		<h2>Le vote</h2>
		<a class="btn btn-primary btn-lg" href="#">Ajouter le vote</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Désactiver le vote</a>
		<a class="btn btn-outline-primary btn-lg" href="#">Consulter les Résultats</a>
	</div>

</div>
{% endblock %}
