{% extends '/dashboard/base.html.twig' %}

{% block body %}
    <section class="new_campaign">
        <h1>Créer une campagne de vote</h1>
            <div class="form mt-5">
                {{ form_start(form) }}
                {{form_widget(form)}}

                <button type="submit" class="btn btn-primary mt-5">Valider</button>
                {{ form_end(form) }}
            </div>
    </section>
{% endblock %}

