{% extends 'layout/column-center-shadow.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block main %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>Login</h1>
    <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
            <label class="form-label" for="username">Email:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="_password"/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button class="btn btn-primary btn-lg" type="submit">login</button>
    </form>
{% endblock %}
