body {
    margin: 0.25rem;
}

p {
    font-family: $font-family-serif;
}

a {
    font-weight: bold;
}

.img-fluid {
    width: auto;
    height: 10rem;
    margin-bottom: 2rem;
}

.card-body {
    height:250px;
    overflow-y: scroll;
}
