$primary: #18d26e;
<<<<<<< HEAD
$lato: 'Lato', sans-serif, 'Roboto';
$merriweather: 'Merriweather', 'Roboto';
=======
$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
>>>>>>> 0f286fac72f14cef2406ca5c63a8e8951b560068
