//Police Merriweather
$font-family-serif: 'Merriweather', serif;

//Police Roboto
$font-family-sans-serif:'Roboto', sans-serif;

//Police Lato
$headings-font-family: 'Lato', sans-serif;

//Couleur
$primary: #0F8747;

$btn-padding-x: 2rem;
