{% extends '/dashboard/base.html.twig' %}

{% block body %}
<section class="new_resolution">
    <h1>Collège au vote "Test"</h1>
        <div class="form">
            {{ form_start(form) }}
            {{form_widget(form)}}

            <button type="submit" class="btn btn-primary mb-3">Valider</button>
            <a href="#" type="a" class"mb-3">Retour à la page admin</a>
            {{ form_end(form) }}
        </div>
</section>
{% endblock %}