<div class="card shadow mb-4" {{ attributes }}>
    <h5 class="card-header">Résolution : {{ this.resolution.name }}</h5>
    <div class="card-body overflow-auto">
        <p class="card-text">
        {{ this.resolution.description }}
        </p>
    </div>
    <div class="card-footer">
        <div class="text-center">
            {{ this.voter.fullName }}
            {% if this.hasVoted %}
            vous avez déjà voté
            {% else %}
            <button class="btn btn-primary " 
            data-action="live#action"
            data-action-name="vote(answer='approved')"
                >
                Pour
            </button>
            <button class="btn btn-danger " 
                data-action="live#action"
                data-action-name="vote(answer='rejected')"
                >
                Contre
            </button>
            <button class="btn btn-secondary " 
                data-action="live#action"
                data-action-name="vote(answer='abstention')"
                >
                Abstention
            </button>
            {% endif %}
            
        </div>
    </div>
</div>

