{% extends "base.html.twig" %}

{% block body %}
    <section class="new_voter">
        <h1>Participant au vote "Test"</h1>
            <div class="identity">
                <h2>Identitée</h2>
            </div>
            <div class="contact">
                <h2>Coordonnées</h2>
            </div>
            <div class="vote">
                <h2>Nombre de voix</h2>
            </div>
            <div class="proxy">
                <h2>Pouvoir</h2>
            </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    <button type="submit">Retour à la page d'admin</button>
    {{ form_end(form) }}
{% endblock %}