{% extends "base.html.twig" %}

{% block body %}
    <section class="new_voter">
        <h1>Participant au vote "Test"</h1>
            <div class="identity">
                <h2>Identitée</h2>
                    {{ form_row(form.fullname) }}
            </div>
            <div class="contact">
                <h2>Coordonnées</h2>
                    {{ form_row(form.email) }}
                    {{ form_row(form.telephone) }}
            </div>
            <div class="vote">
                <h2>Nombre de voix</h2>
            </div>
            <div class="proxy">
                <h2>Pouvoir</h2>
            </div>
    <button type="submit" class="btn btn-primary my-5">Valider</button>
    <button type="submit" class="btn btn-primary my-5">Retour à la page d'admin</button>
{% endblock %}