{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<img src="{{ asset('build/images/LogoLjmTransparentRectangle.png') }}" alt="Brand" class="img-responsive"/>
				</div>
				<div class="p-3 shadow">
					{% block main %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
