{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-2">
		<div>
			<div class=" col-lg-6 offset-lg-3">
				<div class="logos d-flex align-items-center mb-4 justify-content-center text-white text-decoration-none">
					    <img src="{{ asset('build/images/LogoTransparent.png') }}" alt="Brand" class="img-fluid p-2"/>
					    <img src="{{ asset('build/images/logo_evote2.png') }}" alt="Brand" class="img-fluid p-2"/>
                </div>

				<div class="p-3 shadow">
					{% block main %}

                    {% endblock %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

