<form method="post" action="{{ path('campaign_voter_delete', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer un votant?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voter.uuid) }}">
    <button type="submit" class="btn btn-primary mb-3">Supprimer</button>
</form>
